// :host {
//   display: grid;
//   place-content: center;
//   grid-template-rows: auto 1fr auto;
// }

.footer {
  display: grid;
  place-self: center;
  grid-template-columns: repeat(3 1fr);
  gap: 10px;
  grid-auto-rows: minmax(auto, auto);
  grid-auto-columns: auto;
  margin: 0px 10px;
  margin-bottom: 15px;
  background-color: #f3f4ce;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.8rem;
}

.timetable {
  grid-column: 1;
  grid-row: 1;
}
.address {
  grid-column: 2;
  grid-row: 1;
}
.contact {
  grid-column: 3;
  grid-row: 1;
}

@media (width: 668px) {
  .footer {
    display: grid;
    grid-auto-columns: 1;
    grid-auto-rows: 3;
  }
}
