<div class="footer">
  <div class="timetable">
    <strong> Opening Hours: <br /></strong>
    Monday - Thursday:<br />
    9.00am - 5.00pm <br />Friday Morning:<br />
    9.00am - 1.00 pm
  </div>
  <div class="address">
    <strong> Address:<br /></strong>
    Brimlake (Textiles) Ltd,<br />6 Urban Hive,<br />Theydon Road,<br />London<br />E5
    9BQ
  </div>
  <div class="contact">
    <strong>Contact Us:</strong>
    <ul>
      <li>
        Tel: 020 8806 4599
      </li>
      <li>
        Email: brimlake@alltextiles.co.uk
      </li>
    </ul>
  </div>
</div>
