<app-navtoolbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title> Brimlake (Textiles) Ltd </mat-card-title>
      <mat-card-subtitle> Factory & Warehouse </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Happyily providing you with <br />
      <strong>
        Cushions, Rugs, Faux Fur, Felt, Fillings, Home Textiles & Soft
        Furnishings
      </strong>
      <br />
      for over <em> 30 years</em>
    </mat-card-content>
  </mat-card>
  <app-products></app-products>
  <app-footer></app-footer>
</app-navtoolbar>
